# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\gpiplani\Desktop\64_e7_e44d_bd2c_4988_be35_d3aca328fca1_master\BankingSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
